* {
  font-family: sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.75);
  color: #ffffff;
}

/* Workspaces */

#workspaces button {
  padding: 5px;
  color: #ffffff;
}

#workspaces button.active {
  background: rgba(27, 163, 100, 1);
}

/* Right Icons*/

#temperature, #battery, #network, #pulseaudio, #tray, #cpu, #memory, #disk, #media, #privacy, #custom-systemd-failed {
  padding: 0 10px;
}
